html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

tbody {
  display: block;
  overflow: auto;
}

thead,
tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

td {
  vertical-align: middle !important;
}

* {
  box-sizing: border-box;
}

.button.is-link.is-inverted,
.button.is-danger.is-inverted,
.button.is-warning.is-inverted {
  background-color: transparent;
  transition: 0.3s;
  &:hover {
    transform: scale(1.5);
    background-color: transparent;
  }
}

.tabs.is-boxed li.is-active a {
  box-shadow: #63636333 0px 2px 8px 0px;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.56);
  backdrop-filter: saturate(180%) blur(20px);
}

.card {
  border-radius: 10px;
}

.modal-card {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

.big-shadow {
  box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05,
    0 1.9px 4.6px #00000005, 0 4.3px 13.6px #0000000a, 0 7.6px 16.3px #0000000a,
    0 12px 20px #0000000d, 0 18.5px 25.5px #0000000f, 0 28.9px 24.1px #00000012,
    0 48px 60px #00000014, 0 96px 120px #0000001a;
}

.title.is-4 {
  font-weight: 900;
  line-height: 2em;
  background-color: #6e6e6e;
  color: transparent;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.59);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.table.is-narrow th {
  padding: 0.5em 0.8em;
}

.fixed200 {
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.width100percent {
  width: 100%;
}

.sticky-navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
}

.full-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
  justify-content: center;
  align-items: center;
}

.max-w-800 {
  width: 100%;
  max-width: 800px;
}

.max-w-900 {
  width: 100%;
  max-width: 900px;
}

.is-400 {
  width: 400px;
}

.is-200 {
  width: 200px;
}

.is-120 {
  width: 120px;
}

.is-100 {
  width: 100px;
}

.is-50 {
  width: 50px;
}
